/* Based on the theme at http://bonsaiden.github.com/JavaScript-Garden */

/*<!--match-->*/
.cm-s-midnight span.CodeMirror-matchhighlight {
  background: #494949;
}
.cm-s-midnight.CodeMirror-focused span.CodeMirror-matchhighlight {
  background: #314d67 !important;
}

/*<!--activeline-->*/
.cm-s-midnight .CodeMirror-activeline-background {
  background: #203040 !important;
}

.cm-s-midnight.CodeMirror {
  background: #0f192a;
  color: #d1edff;
  font-family: "Consolas", "Lucida Console", monospace;
}

.cm-s-midnight span.cm-COLOR {
}
.cm-s-midnight span.cm-BOLDCOLOR {
  font-weight: bold;
}
.cm-s-midnight span.cm-FADECOLOR {
  color: #777777;
  font-weight: normal;
}
.cm-s-midnight span.cm-COLOR-TRANSPARENT {
  color: #777777;
  font-weight: normal;
}
.cm-s-midnight span.cm-COLOR-BLACK {
  color: #555555;
}
.cm-s-midnight span.cm-COLOR-WHITE {
  color: #ffffff;
}
.cm-s-midnight span.cm-COLOR-GREY {
  color: #9d9d9d;
}
.cm-s-midnight span.cm-COLOR-DARKGREY {
  color: #6d6d6d;
}
.cm-s-midnight span.cm-COLOR-LIGHTGREY {
  color: #c1c1c1;
}
.cm-s-midnight span.cm-COLOR-GRAY {
  color: #9d9d9d;
}
.cm-s-midnight span.cm-COLOR-DARKGRAY {
  color: #6d6d6d;
}
.cm-s-midnight span.cm-COLOR-LIGHTGRAY {
  color: #c1c1c1;
}
.cm-s-midnight span.cm-COLOR-RED {
  color: #be2633;
}
.cm-s-midnight span.cm-COLOR-DARKRED {
  color: #732930;
}
.cm-s-midnight span.cm-COLOR-LIGHTRED {
  color: #e06f8b;
}
.cm-s-midnight span.cm-COLOR-BROWN {
  color: #a46422;
}
.cm-s-midnight span.cm-COLOR-DARKBROWN {
  color: #493c2b;
}
.cm-s-midnight span.cm-COLOR-LIGHTBROWN {
  color: #eeb62f;
}
.cm-s-midnight span.cm-COLOR-ORANGE {
  color: #eb8931;
}
.cm-s-midnight span.cm-COLOR-YELLOW {
  color: #f7e26b;
}
.cm-s-midnight span.cm-COLOR-GREEN {
  color: #44891a;
}
.cm-s-midnight span.cm-COLOR-DARKGREEN {
  color: #2f484e;
}
.cm-s-midnight span.cm-COLOR-LIGHTGREEN {
  color: #a3ce27;
}
.cm-s-midnight span.cm-COLOR-BLUE {
  color: #31a2f2;
}
.cm-s-midnight span.cm-COLOR-DARKBLUE {
  color: #005784;
}
.cm-s-midnight span.cm-COLOR-LIGHTBLUE {
  color: #b2dcef;
}
.cm-s-midnight span.cm-COLOR-PURPLE {
  color: #580780;
}
.cm-s-midnight span.cm-COLOR-PINK {
  color: #e06f8b;
}

.cm-s-midnight span.cm-NAME {
  color: #1dc116;
}
.cm-s-midnight span.cm-HEADER {
  color: #ae81ff;
  font-weight: bold;
}
.cm-s-midnight span.cm-EQUALSBIT {
  color: #808080;
}
.cm-s-midnight span.cm-SPRITEMATRIX {
  color: yellow;
  font-style: italic;
}
.cm-s-midnight span.cm-ERROR {
  color: white;
} /* used to have background color of pink*/
.cm-s-midnight span.cm-ASSIGNMENT {
  color: #ae81ff;
}
.cm-s-midnight span.cm-LOGICWORD {
  color: #ae81ff;
}
.cm-s-midnight span.cm-BRACKET {
  color: #d1edff;
}
.cm-s-midnight span.cm-ARROW {
  color: #c11d16;
}
.cm-s-midnight span.cm-DIRECTION {
  color: #c11dc1;
}
.cm-s-midnight span.cm-COMMAND {
  color: #ae81ff;
  font-weight: bold;
}
.cm-s-midnight span.cm-MESSAGE_VERB {
  color: #ae81ff;
  font-weight: bold;
}
.cm-s-midnight span.cm-MESSAGE {
  color: orange;
  font-style: italic;
}
.cm-s-midnight span.cm-SECTION_VERB {
  color: rgb(129, 255, 156);
  font-weight: bold;
}
.cm-s-midnight span.cm-SECTION {
  color: orange;
  font-style: italic;
}
.cm-s-midnight span.cm-GOTO_VERB {
  color: #ae81ff;
  font-weight: bold;
}
.cm-s-midnight span.cm-GOTO {
  color: orange;
  font-style: italic;
}
.cm-s-midnight span.cm-METADATA {
  color: #ae81ff;
  font-weight: bold;
}
.cm-s-midnight span.cm-METADATATEXT {
  color: orange;
  font-style: italic;
}

span.cm-SOUND {
  color: orange;
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}
.cm-s-midnight span.cm-SOUNDVERB {
  color: #ae81ff;
}
.cm-s-midnight span.cm-SOUNDEVENT {
  color: #ae81ff;
}
.cm-s-midnight span.cm-SPRITEPARENT {
  color: #813cff;
  font-weight: bold;
}
.cm-s-midnight span.cm-KEYWORD {
  color: #ae81ff;
  font-weight: bold;
}

.systemMessage {
  color: white;
}

.cm-s-midnight div.CodeMirror-selected {
  background: #314d67 !important;
}
.cm-s-midnight .CodeMirror-gutters {
  background: #0f192a;
  border-right: 1px solid;
}
.cm-s-midnight .CodeMirror-linenumber {
  color: #d0d0d0;
}
.cm-s-midnight .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0 !important;
}
.cm-s-midnight div.CodeMirror-overwrite .CodeMirror-cursor {
  border-left: 7px solid #f8f8f0 !important;
}
.cm-s-midnight span.cm-MATRIX {
  color: yellow;
  font-style: italic;
}
.cm-s-midnight span.cm-IDENTIFIER {
  color: #1dc116;
  font-weight: bold;
}

.cm-s-midnight span.cm-LEVEL {
  color: #aaaaaa;
}

.cm-s-midnight span.cm-comment {
  color: #428bdd;
  font-style: italic;
}
.cm-s-midnight span.cm-header {
  color: #ae81ff;
}
.cm-s-midnight span.cm-atom {
  color: #ae81ff;
}
.cm-s-midnight span.cm-number {
  color: #d1edff;
}

.cm-s-midnight span.cm-property,
.cm-s-midnight span.cm-attribute {
  color: #a6e22e;
}
.cm-s-midnight span.cm-keyword {
  color: #e83737;
}
.cm-s-midnight span.cm-string {
  color: #1dc116;
}

.cm-s-midnight span.cm-variable {
  color: #ffaa3e;
}
.cm-s-midnight span.cm-variable-2 {
  color: #ffaa3e;
}
.cm-s-midnight span.cm-def {
  color: #4dd;
}
.cm-s-midnight span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}
.cm-s-midnight span.cm-bracket {
  color: #d1edff;
}
.cm-s-midnight span.cm-tag {
  color: #449;
}
.cm-s-midnight span.cm-link {
  color: #ae81ff;
}

.cm-s-midnight .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
